html {
    margin: 0;
}

header {
    background: #df2027;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    font-weight: bold;
}

.site-logo {
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 108px;
    transform: skewX(10deg);
    box-shadow: -6px 3px 10px #00000029;
    background-color: #fff;
}

.menu {
    align-self: flex-end;
    margin-right: .2em;
    position: relative;
    display: inline-block;
}

.menu__btn {
    background-color: #fff;
    color: #df2027;
    font-size: .3em;
    font-weight: bold;
    padding: 0;
    width: 6em;
    height: 2em;
    border-radius: 10px;
    border: none;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-content a {
    color: #df2027;
    padding: .3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .4em;
    font-weight: normal;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: lightgrey;
}



body {
    background-color: thistle;
    margin: 0;
}

h1 {
    text-align: center;
}

.carrousel {
    margin: 0 auto;
    width: 770px;
    height: 440px;
}

form input {
    display: inline-block;
    min-width: 17%;
    box-sizing: border-box;
}

form label {
    display: inline-block;
    min-width: 7%;
    box-sizing: border-box;
}

/* Styles pour la gallerie */
.articleGalleryMosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articleGalleryColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divgallery{
    text-align: center;
    width: 50%;
}

#addImgDiv {
    display: none;
}

.readyToErase:hover {
    cursor: crosshair;
    opacity: 0.5;
}

/* Styles pour les jeux */

main {
    display: flex;
    flex-direction: column;
}
.gameChoice {
    display: flex;
    justify-content: space-around;
}

.shifumiChoice, .memoryChoice {
    display: flex;
    justify-content: center;
    width: 15%;
    background-color: white;
}

.shifumiChoice img, .memoryChoice img {
    width: 80%;
}

.memoryGame {
    display: flex;
    justify-content: center;
}

.shifumiGame, .memoryGame {
    display: none;
}

.userPossibilities {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;;
}

.duel, .score {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

.userChoice, .computerChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.userScore, .computerScore {
    display: flex;
    justify-content: center;
    width: 30%;
}

.result, .space {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.result  p{
    font-size: 2em;
}

.tied {
    color: grey;
}

.won {
    color: green;
}

.lost {
    color: red;
}

.loader {
    margin: auto;
    margin-top: 150px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #df2027; /* BWF red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide {
      display: none;
}

/* Styles pour le menu du mémory */
.diffMenu {
    align-self: flex-end;
    margin-right: .2em;
    position: relative;
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    font-weight: bold;
}

.difficulty__btn {
    background-color: #fff;
    color: #df2027;
    font-size: .3em;
    font-weight: bold;
    padding: 0;
    width: 6em;
    height: 2em;
    border-radius: 10px;
    border: none;
}

.diff_menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.diff_menu-content a {
    color: #df2027;
    padding: .3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .4em;
    font-weight: normal;
    text-decoration: none;
    display: block;
}

.diff_menu-content a:hover {
    background-color: lightgrey;
}

.show {
    display: block;
}

/* Styles du plateau de jeu */
.memory {
    display: flex;
    flex-direction: column;
}

.memoryLine {
    display: flex;
}

.memoryBox {
    /* background-color: cyan; */
    border: 1px solid black;
    height: 130px;
    width: 200px;
    margin: 10px;
}

.memoryBox img {
    width: 100%;
    height: 100%;
}

.memoryFound {
    border: none;
}